@charset "UTF-8";

/* MAIN CONFIGURATION */
main {
    justify-items: center;
    justify-content: center;
}

/* CONTAINER */
.produto-detalhes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    padding: 20px;
}

.produto-detalhes h1 {
    text-align: center;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.200);
}

#produto-preco-atual {
    font-size: 2.5rem;
    color: red;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.200);
}

/* IMAGEM DO PRODUTO */
.produto-imagem > img {
    flex: 1;
    height: 500px;
    width: 500px;
    transition: 0.8s;
}

.produto-imagem > img:hover {
    box-shadow: 1px 1px 20px black;
}

/* BOTÃO DE COMPRA */
#comprar-btn {
    padding: 10px;
    background-color: darkgreen;
    color: white;
    font-weight: bolder;
    font-size: 1.5rem;
    transition: .5s;
}

#comprar-btn:hover {
    padding: 15px;
    background-color: rgba(0, 100, 0, 0.700);;
}

/* INFORMAÇÕES DO PRODUTO */
.produto-info {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
}

/* DESCRIÇÃO */
.descricao {
    margin-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.200);
    border-bottom: 1px solid rgba(0, 0, 0, 0.200);
    width: 100%;
    padding: 20px 0px 20px 0px;
}

.descricao-inicial {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descricao p {
    margin-top: 15px;
    display: none;
}

/* BOTÃO DE DESCRIÇÃO */
#btnDescricao {
    background-color: white;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    transition: .5s;
    border-radius: 100%;
    transition: .5s;
}

#btnDescricao:hover {
    background-color: rgba(0, 0, 0, 0.100);
    padding: 0px 5px 0px 5px;
}

