@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');

/* MAIN */
main {
    justify-items: center;
    justify-content: center;
}

/* Container do formulário */
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

/* Estilização do título */
h2 {
    margin-bottom: 20px;
}

/* Campos de entrada */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botão */
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 5px;
}

button:hover {
    background-color: #218838;
}

