@charset "UTF-8";

/* SECTION */

section img {
    width: 300px;
    height: 300px;
    border-radius: 10px 10px 0 0;
}

section div.hero-content h1{
    font-weight: bolder;
    margin-bottom: 10px;
}

/* HERO SECTION */
section.hero {
    text-align: center;
    background-color: white;
    padding: 10px;
    width: 100%;
}

#buy {
    padding: 10px;
    border-radius: 5px;
    transition: .5s;
    background-attachment: white;
    color: darkorchid;
    font-weight: bolder;
    cursor: pointer;
}

#buy:hover {
    background-color: rgb(255, 120, 226);
    color: rgb(255, 255, 255);
    padding: 15px;
}


/* GRID CONFIGURATION */
main {
    /* justify-items: center; */
    display: grid;
    place-items: center;
}

/*  PRODUTOS EM DESTAQUE & OFERTAS ESPECIAIS */
section.featured-products, section.special-offers {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1300px;  /* 1250px */
    flex-wrap: wrap;
}

section.featured-products h2, section.special-offers h2 {
    margin-top: 30px;
}

section.featured-products div.carousel, section.special-offers div.offers {
    display: flex;
    justify-content: center; /* Espaço igual entre os itens */
    gap: 20px;  /*Espaço entre as imagens */
    width: 100%;
    flex-wrap: wrap;
}

section div.product, section div.offer {
    flex: 1 1 calc(25% - 20px); /* Cada produto ocupará 25% do espaço da tela, ajustando para o gap */
    max-width: calc(25% - 20px); /*Evita que os itens fiquem maiores*/
    text-align: center;
    box-sizing: border-box;  /* Inclui padding e margin no cálculo da largura */
    background-color: aliceblue;
    border-radius: 12px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.550);
    min-width: 300px;
}

section div.product:hover, section div.offer:hover {
    transform: scale(1.09);
    transition: transform 0.3s ease, border 0.3s ease;
}

section div.product a, section div.offer a {
    text-decoration: none;
    color: black
}

section div.product img, section div.offer img {
    width: 100%;    /* A imagem ocupará toda a largura do .product */
    border-radius: 10px 10px 0px 0px;
}

section div.product, section div.offer{
    margin-top: 50px;
}

section.featured-products button, section.special-offers button {
    margin-top: 10px;
}


/* Ofertas Especiais */

section.special-offers {
    margin-bottom: 50px;
}

/* BOTÕES GERAIS */

section button {
    padding: 2px 10px;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
}

section button:hover {
    color: white;
    background-color: deeppink;
    padding: 4px 20px;
    border: none;
}

#ofertas, #verMais {
    margin-top: 50px;
}


/* DESCRIÇÃO DOS CARD */
section div.descrição-card {
    padding: 8px 0px 8px 0px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}


/* Oculta os elementos inicialmente */
section div.hidden-product {
    /* display: none; */
}

section div.hidden-offer {
    /* display: none; */
}


/* ANIMAÇÃO PARA "VER MAIS" E "APROVEITE AGORA */

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.7s ease-in-out forwards;
}

.fade-out {
    opacity: 1;
    transform: translate(0);
    animation: fadeOutDown 0.7s ease-in-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        transform: translate(30);
    }
}

